@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rootModalWeb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999999999999999999999999999999;
  animation: show 0.5s ease-in-out;

  .containerModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    // gap: 1rem;
    padding: 0.5rem;
    height: 100%;
    border-radius: 0.5rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: solid 1px var(--global-lines);
    background-color: var(--global-02);

    .headerModal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-top: 3rem;
      margin: 0.75rem 1.5rem 1rem;
      background-color: var(--color-01);
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      .closeIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0.3rem;
        border-radius: 50%;
        border: solid 1px transparent;

        &:hover {
          border-color: var(--color-border);
          background-color: var(--color-hover);
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }

    .bodyModal {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      background-color: var(--global-08);
      height: 100%;
      border-radius: 0.25rem;
      padding: 0.5rem;
    }
  }
}

.hideAnimation {
  animation: hide 0.55s ease-in-out;
}
