.rootDashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding-bottom: 3.5rem;

  .titleDashboardPage {
    text-align: center;
  }
  .listCompanies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
