.rootCardCompany {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 1rem;

  .containerCardCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 5px;
    border: solid;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    gap: 0.5rem;

    .boxUp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      hr {
        width: 1px;
        height: auto;
        background-color: var(--global-05);
        border: none;
        align-self: stretch;
      }

      .boxLeftUp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;

        .boxLogoCompany {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: solid 1px;
          min-width: 6rem;
          min-height: 6rem;
          max-width: 6rem;
          max-height: 6rem;
          border-radius: 50%;
          cursor: pointer;

          img {
            min-width: 6rem;
            min-height: 6rem;
            max-width: 6rem;
            max-height: 6rem;
            border-radius: 50%;
            object-fit: cover;
            //* No Draggable photo
            // user-drag: none; // scss(unknownProperties)
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        }

        .textName {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          font-size: 22px;
        }
      }

      .boxCenterUp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap: 0.5rem;
        padding: 0 0.5rem;
        width: 100%;

        .infoLocation,
        .infoSector {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
          width: 100%;
        }
      }

      .boxRightUp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        gap: 0.5rem;
        padding: 0 0.5rem;
        height: auto;
        width: 100%;

        .infoIMin,
        .infoIMax {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          gap: 1rem;
          width: 100%;
        }
      }
    }

    .boxDown {
      .hashtagsList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        span {
          color: var(--color-evidenced);
        }
      }
    }
  }

  .containerCardCompany:hover {
    border-color: var(--global-05);
    box-shadow: 10px 0px 12px 0px var(--color-shadow-gold);
    -webkit-box-shadow: 10px 0px 12px 0px var(--color-shadow-gold);
    -moz-box-shadow: 10px 0px 12px 0px var(--color-shadow-gold);
  }
}
