.rootPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .containerContentPortfolio {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    .cardContentPortfolio {
      border: solid;
    }
  }
}
