@keyframes show {
  from {
    height: 0px;
  }

  to {
    height: 120px;
  }
}

@keyframes cover {
  from {
    height: 120px;
  }

  to {
    height: 0px;
  }
}

.rootHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: relative;
  background-color: blue;
  border: solid 2px var(--global-05);
  background-color: var(--global-08);
  .containerHeader {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;

    .boxUp {
      flex-grow: 2;
      flex-basis: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;
      width: 100%;
      max-width: 1200px;
    }

    .boxDown {
      flex-grow: 1;
      flex-basis: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      & > div {
        padding: 0 1rem 3px;

        span {
        }
      }
    }

    //
    .boxLeft {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .iconLanguage {
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
      }

      .rotateIcon {
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
      }

      .dropdownCompanies {
        position: absolute;
        top: 100%;
        left: 1rem;
        background-color: var(--color-one);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        z-index: 99999999999;
      }

      .fadeClose {
        animation: cover 1s forwards;
      }

      .showDropdown {
        animation: show 1s forwards;
      }
    }
  }
}
