.rootContactsInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .boxInputsContactsInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;

    button {
      margin-bottom: 0.5rem;
    }
  }
}
